/* global page font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
    font-size: 1.3rem;
    background: #f9f9f9;
}

.wrapper {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0.2rem;
}

header {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.main-head {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.main-head span {
    color: brown;
}

.tag-head {
    color: brown;
}

.menu-link {
    word-spacing: 50px;
}

.status-nav {
    overflow: hidden;
}

.status-nav div {
    float: left;
}

.topnav {
    overflow: hidden;
    background-color: brown;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 600px) {
    .topnav a {
        font-size: 14px;
        padding: 10px 10px;
    }
}

.topnav a:hover {
    background-color: white;
    color: brown;
}

.topnav a.active {
    background-color: black;
    color: white;
}


.row {
    width: 100%;
}

.foot-section {
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* test */
